<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-default navbar-static-top">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" style="margin-right:10px;"><a class="nav-link" routerLink="/d3-scale">d3-scale</a></li>
      <li class="nav-item" style="margin-right:10px;"><a class="nav-link" routerLink="/d3-donut">d3-donut</a></li>
      <li class="nav-item" style="margin-right:10px;"><a class="nav-link" routerLink="/d3-line-chart">d3-line-chart</a></li>
      <li class="nav-item" style="margin-right:10px;"><a class="nav-link" routerLink="/d3-cumulative-line-chart">d3-cumulative-line-chart</a></li>
      <li class="nav-item" style="margin-right:10px;"><a class="nav-link" routerLink="/d3-stacked-area-chart">d3-stacked-area-chart</a></li>
    </ul>
  </div>
</nav>
